.size-image-main-3 {
    height: 150px !important;
    width: auto;
}

.size-image-main-4 {
    height: 200px !important;
    width: auto;
}

.size-image-main-6 {
    height: 300px !important;
    width: auto;
}

.size-image-main-12 {
    height: 150px !important;
    width: 150px !important;
}